os: osx
osx_image: xcode9.3
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  bundler: true
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"
  - "$HOME/Library/Caches/Homebrew"
env:
  # TODO: add aws access key that can access the bugsnag-unity build artifacts bucket
  global:
    - PATH=$HOME/.local/bin:$PATH

before_install:
  - pip install --user awscli
  - mkdir -p ~/$TRAVIS_BUILD_NUMBER
  - aws s3 sync s3://bugsnag-unity-artifacts/$TRAVIS_BUILD_NUMBER ~/$TRAVIS_BUILD_NUMBER

stages:
  - build
  - test
  - deploy

env:
  global:
  - TERM=dumb

matrix:
  include:
  - name: "MacOS Unity 2017"
    env:
    - UNITY_URL="https://download.unity3d.com/download_unity/21ae32b5a9cb/MacEditorInstaller/Unity-2017.4.3f1.pkg"
    script: bundle exec rake mazerunner\[macos\]
  - name: "MacOS Unity 2018"
    env:
    - UNITY_URL="https://netstorage.unity3d.com/unity/1431a7d2ced7/MacEditorInstaller/Unity-2018.2.3f1.pkg"
    script: bundle exec rake mazerunner\[macos\]
  - name: "Android 16 Unity 2017"
    language: android
    android:
      components:
      - tools
      - platform-tools
      - build-tools-27.0.3
      - android-16
      - extra-android-m2repository
      - sys-img-armeabi-v7a-android-16
    env:
    - UNITY_URL="https://download.unity3d.com/download_unity/21ae32b5a9cb/MacEditorInstaller/Unity-2017.4.3f1.pkg"
    - ANDROID_HOME=/usr/local/share/android-sdk
    - ANDROID_TARGET=android-16
    - ANDROID_ABI=armeabi-v7a
    script: bundle exec rake mazerunner\[android\]
  - name: "Android 16 Unity 2018"
    language: android
    android:
      components:
      - tools
      - platform-tools
      - build-tools-27.0.3
      - android-16
      - extra-android-m2repository
      - sys-img-armeabi-v7a-android-16
    env:
    - UNITY_URL="https://netstorage.unity3d.com/unity/1431a7d2ced7/MacEditorInstaller/Unity-2018.2.3f1.pkg"
    - ANDROID_HOME=/usr/local/share/android-sdk
    - ANDROID_TARGET=android-16
    - ANDROID_ABI=armeabi-v7a
    script: bundle exec rake mazerunner\[android\]
  - name: "Android 19 Unity 2017"
    language: android
    android:
      components:
      - tools
      - platform-tools
      - build-tools-27.0.3
      - android-19
      - extra-android-m2repository
      - sys-img-armeabi-v7a-android-19
    env:
    - UNITY_URL="https://download.unity3d.com/download_unity/21ae32b5a9cb/MacEditorInstaller/Unity-2017.4.3f1.pkg"
    - ANDROID_HOME=/usr/local/share/android-sdk
    - ANDROID_TARGET=android-19
    - ANDROID_ABI=armeabi-v7a
    script: bundle exec rake mazerunner\[android\]
  - name: "Android 19 Unity 2018"
    language: android
    android:
      components:
      - tools
      - platform-tools
      - build-tools-27.0.3
      - android-19
      - extra-android-m2repository
      - sys-img-armeabi-v7a-android-19
    env:
    - UNITY_URL="https://netstorage.unity3d.com/unity/1431a7d2ced7/MacEditorInstaller/Unity-2018.2.3f1.pkg"
    - ANDROID_HOME=/usr/local/share/android-sdk
    - ANDROID_TARGET=android-19
    - ANDROID_ABI=armeabi-v7a
    script: bundle exec rake mazerunner\[android\]
  - name: "Android 21 Unity 2017"
    language: android
    android:
      components:
      - tools
      - platform-tools
      - build-tools-27.0.3
      - android-21
      - extra-android-m2repository
      - sys-img-armeabi-v7a-android-21
    env:
    - UNITY_URL="https://download.unity3d.com/download_unity/21ae32b5a9cb/MacEditorInstaller/Unity-2017.4.3f1.pkg"
    - ANDROID_HOME=/usr/local/share/android-sdk
    - ANDROID_TARGET=android-21
    - ANDROID_ABI=armeabi-v7a
    script: bundle exec rake mazerunner\[android\]
  - name: "Android 21 Unity 2018"
    language: android
    android:
      components:
      - tools
      - platform-tools
      - build-tools-27.0.3
      - android-21
      - extra-android-m2repository
      - sys-img-armeabi-v7a-android-21
    env:
    - UNITY_URL="https://netstorage.unity3d.com/unity/1431a7d2ced7/MacEditorInstaller/Unity-2018.2.3f1.pkg"
    - ANDROID_HOME=/usr/local/share/android-sdk
    - ANDROID_TARGET=android-21
    - ANDROID_ABI=armeabi-v7a
    script: bundle exec rake mazerunner\[android\]
jobs:
  include:
    - stage: build
      script: scripts/travis_build.sh
      env:
      - secure: gvj3mPdnIF1TzN2hNo9xv8/40IUNLE7/g9vFof7EamJrFBpEkGSU9pxTt5QVhSI4GKlZD+epDXPzGNryJ9nyc9eF11AdgX7g/4+GBAk80R0JJPaEfrVv/1RMDeeEmUduWdV3G68yyUEEEshD2jYdYRetsHSdGHcT6WfdQcQe9eM=
      - secure: afR91RoHdgB4pXSdLwnMQNVgkrsA81T59XHrXrb8iahD8lE4ouoxF92ZWeHzRGDmeLIL1RlySyOId0J7MV695DbUIPHNFTUQvZcE/IlwhxXuP2NrO2AtXVDlpECNbGKOSFEbXWkBThoSqSsPx+i6WngeHjfTWb1d0mSKQV2GZp4=
      - secure: WLBjta+fSkeyeWKq2pNkGRzxY8q/KtL3oFhCt2zxh7hLf4mYt8Ge5BC3llk7N+BZOQTlbZkXJhsgwyDU821HrqijIGvYWzF5jiLn2L9DOkm8SgHCStvs8vQQeHnf0gzS98JGaXDEZPnOl2OGo5kiuW9fv2afydRSI1ILozre5jc=
    - stage: deploy
      script: skip
      deploy:
        provider: releases
        api_key:
          secure: gSy4ckptDBnexHVmlSiSukVMu3VmaTAwGwuR6HzMgw2qSPuZ76A9g1ta+gc6bpaSyodwtl4BRwDB9QQtj5qmGdWxWK6xHQ9FQXfksU8p8fuhactkv78igFHmdXg1Hih+0Qep2Kl5vOZ4rBvPMT8VjidYu3VYqBgEL87atTBCTG4=
        file: Bugsnag.unitypackage
        draft: true
        skip_cleanup: true
        on:
          tags: true
          repo: bugsnag/bugsnag-unity
      after_success:
        - aws s3 rm --recursive s3://bugsnag-unity-artifacts/$TRAVIS_BUILD_NUMBER # clean up after ourselves

after_success:
  - aws s3 sync ~/$TRAVIS_BUILD_NUMBER s3://bugsnag-unity-artifacts/$TRAVIS_BUILD_NUMBER
